<div class="x-body">
    <form action="" method="post" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                <span class="x-red">*</span>角色名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="name" name="title" required="" lay-verify="required"
                autocomplete="off" value="<?php echo $role['title'] ?>" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">
                拥有权限
            </label>
            <table  class="layui-table layui-input-block">
                <tbody>  
                     <?php foreach ($rdata as $k => $row) { ?>
                        <tr>
                            <td>
                                <?php echo $k; ?>
                            </td>
                            <td>  
                                <div class="layui-input-block">
                                    <?php foreach ($row as $v) { ?>
                                        <input name="rules[<?php echo $v['id'] ?>]" <?php if(in_array($v['id'], $rules)){echo "checked";} ?> type="checkbox" value="<?php echo $v['id'] ?>"> <?php echo $v['title'] ?>

                                    <?php } ?>
                                </div>
                            </td>
                        </tr>
                    <?php  } ?>  
                </tbody>
            </table>
        </div>
        <div class="layui-form-item layui-form-text">
            <label for="desc" class="layui-form-label">
                描述
            </label>
            <div class="layui-input-block">
                <textarea placeholder="请输入内容" id="desc" name="desc" class="layui-textarea"><?php echo $role['desc'] ?></textarea>
            </div>
        </div>
        <div class="layui-form-item">
        <input type="hidden" name='id' value="<?php echo $role['id'] ?>">

        <button class="layui-btn" lay-submit="" lay-filter="add">保存</button>
      </div>
    </form>
</div>
<script>
    layui.use(['form','layer'], function(){
        $ = layui.jquery;
      var form = layui.form()
      ,layer = layui.layer;

      //监听提交
      form.on('submit(add)', function(data){
        //发异步，把数据提交给php
        $.post("{:U('admin/admin/rolesave')}", data.field, function(data) {
            if(data.error==0){
                //error错误等于0,注释不要写在{旁边
                layer.alert("更改成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
                parent.location.reload();
                });
           }
        },'json');
        return false;
      });    
    });
</script>